@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: 'Bangers', cursive;
	font-weight: 100;
	color: white;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.main {
	text-align: center;
	background: transparent  url('../img/galaxy.jpg') no-repeat center top;
	background-size: cover;
	display: block;
	margin: auto;
	padding: 2em 0;
	font-size: 3em;
}

h3 {
	font-size: .5em;
}

.icons {
	padding: 0 10%;
}

li {
	display: inline-block;
	width: 80px;
	padding: .5em;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in 0s;
	-moz-transition: opacity 0.5s ease-in 0s;
	-o-transition: opacity 0.5s ease-in 0s;
	transition: opacity 0.5s ease-in 0s;
}

li:hover {
	opacity: 1;
}